<table class="table table-hover">
  <tr>
    <th><%= t ".last_change" %></th>
    <th><%= t ".lesson" %></th>
    <th><%= t ".duration" %></th>
    <th><%= t ".spent_time" %></th>
    <th><%= t ".score" %></th>
    <th><%= t ".result" %></th>
  </tr>
  <% i = Settings.number.zero %>
  <% @lesson_logs.each do |ql| %>
    <% status = get_status(ql) %>
    <tr class="<%= status[1] %>">
      <td><%= ql.updated_at.strftime Settings.time.format %></td>
      <% if current_user? current_user %>
        <td><%= link_to ql.lesson.name,
          (if status[3]
            url_for(ql)
          else
            edit_lesson_log_path ql, :id
          end) %></td>
      <% else %>
        <td><%= ql.lesson.name %></td>
      <% end %>
      <td>#</td>
      <td><%= Time.at ql.spend_time %></td>
      <td><%= @results[i] %></td>
      <td><%= status[0] %></td>
    </tr>
  <% i += Settings.number.one %>
  <% end %>
</table>
