<%= link_to t(".add"), new_category_path,
  class: "btn btn-primary" %>
<table>
  <tr>
    <th><%= t ".name" %></th>
    <th><%= t ".description" %></th>
    <%= render "layouts/table_header" %>
  </tr>
  <% @categories.each do |category| %>
    <tr>
      <td><%= category.name %></td>
      <td><%= category.description %></td>
      <td class="index_column">
        <%= link_to t("edit"), edit_category_path(category) %>
      </td>
      <%= render "layouts/table_row", obj: category,
        path: :category_path %>
    </tr>
  <% end %>
</table>
<%= paginate @categories, theme: "twitter-bootstrap-3" %>
